# Source for requirements-dev.txt. Compile with:
#   pip-compile --generate-hashes --allow-unsafe -o requirements-dev.txt requirements-dev.in
-c requirements.txt
-r requirements.in
pytest==9.1.1
pytest-asyncio==1.4.0
respx==0.23.1
fakeredis[lua]==2.39.0
